{% extends "base.html" %} 
{% load lucide %} 
{% block title %}German with Videos | {% block subtitle %}{% endblock %}{% endblock %} 
{% block name %}German with Videos{% endblock %} 
{% block navbar %}
<a
  class="navbar-item"
  href="{% url 'german_with_videos:video_list' %}"
  x-data
  x-init="localStorage.setItem('preferred_lang', '{{ request.resolver_match.kwargs.lang_code|default:'de' }}')"
>
  {% lucide "video" size=24 %}
  <span class="ml-2">Video List</span>
</a>

{% endblock %} 
{% block main %} 
{% block german_with_videos_content %}{% endblock %}
{% endblock %}
