{% extends "base.html" %} 

{% block title %}Kongruenzsätze{% endblock %}
{% block name %}Kongruenzsätze{% endblock %} 

{% block navbar %}
{% endblock %} 

{% block main %} 
    {% block content %} 
    {% endblock %}

    <div class="container mt-6 mb-4">
        <h2 class="title is-6 has-text-grey">Gemeisterte Themen</h2>
        <div class="columns is-multiline is-mobile">
            {% for topic_data in topics_with_progress %}
            <div class="column is-6-mobile is-3-tablet">
                <div class="box p-2">
                    <h3 class="title is-6 mb-1">
                        {{ topic_data.topic.name }}
                        {% if topic_data.has_mastery %}
                            <span class="icon-text">
                                <span class="icon is-small">
                                    <i class="icon-trophy"></i>
                                </span>
                            </span>
                        {% endif %}
                    </h3>
                    <progress class="progress is-small {% if topic_data.has_mastery %}is-success{% else %}is-primary{% endif %}" 
                              value="{{ topic_data.mastery_percentage }}" 
                              max="100">
                        {{ topic_data.mastery_percentage }}%
                    </progress>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <style>
        nav {
            display: none !important;
        }
        .progress {
            height: 0.5rem !important;
        }
        .box {
            box-shadow: none !important;
            border: 1px solid #f5f5f5;
        }
    </style>
{% endblock %}

