{% extends "triangles/base.html" %}
{% load lucide %}

{% block content %}
<div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <div class="box">
                <h1 class="title is-4 has-text-centered mb-4">Fill in the missing word</h1>
                
                <div class="content">
                    <p class="has-text-centered is-size-5">{{ cloze_text }}</p>
                </div>

                <form method="post" class="mt-4">
                    {% csrf_token %}
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" name="answer" placeholder="Your answer" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary is-fullwidth" type="submit">
                                {% lucide "check" class="mr-2" %}Check Answer
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}