{% extends "triangles/base.html" %}
{% load lucide %}

{% block content %}
<div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <div class="box">
                <h1 class="title is-4 has-text-centered mb-4">Fülle die Lücke</h1>
                
                <div class="content">
                    <p class="has-text-centered is-size-5">{{ cloze_text }}</p>
                </div>

                <div 
                  x-data="{
                      options: {{ answer_options|safe }},
                      correct: '{{ answer_options.0 }}',
                      selected: new Set(),
                      foundCorrect: false,
                      nextUrl: '{% url 'triangles:index' %}',
                      shuffled: [],
                      init() {
                          this.shuffled = [...this.options].sort(() => Math.random() - 0.5);
                      },
                      handleClick(option) {
                          if (this.foundCorrect) return;
                          if (option === this.correct) {
                              this.foundCorrect = true;
                              setTimeout(() => { window.location.href = this.nextUrl; }, 600);
                          } else {
                              this.selected.add(option);
                          }
                      }
                  }"
                >
                    <div class="buttons is-centered">
                        <template x-for="option in shuffled" :key="option">
                            <button 
                                type="button"
                                class="button is-fullwidth mb-2"
                                :class="{
                                    'is-success': foundCorrect && option === correct,
                                    'is-light': selected.has(option) && option !== correct
                                }"
                                @click="handleClick(option)"
                                x-text="option"
                                :disabled="selected.has(option) || foundCorrect"
                            ></button>
                        </template>
                        <template x-if="shuffled.length === 0">
                            <span class="has-text-danger">Keine Antwortoptionen verfügbar</span>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}