{% extends "triangles/base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="box has-text-centered">
                    <span class="icon is-large has-text-success">
                        <i data-lucide="trophy" class="is-size-1"></i>
                    </span>
                    <h1 class="title is-2 mt-4">Herzlichen Glückwunsch!</h1>
                    <p class="subtitle is-4">Du hast alle Kongruenzsätze erfolgreich gelernt!</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
