{% extends "triangles/base.html" %}

{% block content %}
<div class="container mt-2">
    <div class="columns is-centered">
        <div class="column is-8">
            <div>
                <h1 class="title has-text-centered">Woran kannst du erkennen, dass die beiden Dreiecke kongruent sind?</h1>
                
                <div class="columns is-centered mb-6 has-background-light">
                    <div class="column is-6">
                        <div class="has-text-centered">
                            <!-- First Triangle SVG -->
                            <div class="triangle-container">
                                {{ triangle_data.svg1|safe }}
                            </div>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="has-text-centered">
                            <!-- Second Triangle SVG -->
                            <div class="triangle-container">
                                {{ triangle_data.svg2|safe }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="columns is-multiline is-centered is-flex is-align-items-stretch"
                     x-data="{
                        correct: '{{ correct_theorem }}',
                        selected: new Set(),
                        foundCorrect: false,
                        wasFirstTry: true,
                        handleClick(id, btn) {
                            if (this.foundCorrect || this.selected.has(id)) return;
                            if (id === this.correct) {
                                this.foundCorrect = true;
                                btn.classList.add('is-success');
                                setTimeout(() => {
                                    btn.form.submit();
                                }, 200);
                            } else {
                                this.selected.add(id);
                                btn.disabled = true;
                                this.wasFirstTry = false;
                            }
                        }
                    }">
                    {% for option in theorem_options %}
                    <div class="column is-6 is-flex is-align-items-stretch">
                        <form method="post" action="{% url 'triangles:identify_theorem_submit' %}" style="margin-bottom: 0; width: 100%;">
                            {% csrf_token %}
                            <input type="hidden" name="selected_theorem" :value="'{{ option.id }}'">
                            <input type="hidden" name="correct_theorem" value="{{ correct_theorem }}">
                            <input type="hidden" name="result" :value="wasFirstTry ? 'correct' : 'incorrect'">
                            <button type="button" class="button is-large box has-shadow theorem-option mb-5"
                                    :class="{ 'is-success': foundCorrect && '{{ option.id }}' === correct, 'is-light': selected.has('{{ option.id }}') && '{{ option.id }}' !== correct }"
                                    :disabled="foundCorrect || selected.has('{{ option.id }}')"
                                    @click="handleClick('{{ option.id }}', $el)"
                                    style="width: 100%; text-align: left; white-space: normal; height: 100%; display: flex; flex-direction: column; align-items: flex-start;">
                                <span class="is-block has-text-weight-bold is-size-4">{{ option.title }}</span>
                                {% if option.explanation %}
                                <span class="is-block is-size-7 has-text-grey" style="white-space: normal; word-break: break-word;">{{ option.explanation }}</span>
                                {% endif %}
                            </button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 