{% extends "cms/base.html" %}

{% block nav %}
<a href="{% url 'cms:german_with_videos:cms_home' %}" class="navbar-item">
    Home
</a>
<a href="{% url 'cms:german_with_videos:import_channel_videos' %}" class="navbar-item">
    Import Channel
</a>
<a href="{% url 'cms:german_with_videos:import_playlist_videos' %}" class="navbar-item">
    Import Playlist
</a>
<a href="{% url 'cms:german_with_videos:bulk_import_videos' %}" class="navbar-item">
    Bulk Import
</a>
<a href="{% url 'cms:german_with_videos:search_videos' %}" class="navbar-item">
    Search Videos
</a>
<a href="{% url 'cms:german_with_videos:review_videos' %}" class="navbar-item">
    Review Videos
</a>
<a href="{% url 'cms:german_with_videos:list_all_videos' %}" class="navbar-item">
    All Videos
</a>
<a href="{% url 'cms:german_with_videos:actions' %}" class="navbar-item">
    Actions
</a>
<a href="{% url 'cms:german_with_videos:manage_tags' %}" class="navbar-item">
    Manage Tags
</a>
{% endblock %}

{% block cms_content %}
{% block content %}{% endblock %}
{% endblock %}
