{% extends 'uke_fingerpicking/base.html' %}
{% block content %}
<section class="section">
  <div class="level">
    <div class="level-left">
      <h1 class="title">Ukulele Tab Sheets</h1>
    </div>
    <div class="level-right">
      <a href="{% url 'cms_tab_sheet_add' %}" class="button is-primary">
        <i data-lucide="plus"></i>&nbsp;Create New Tab Sheet
      </a>
    </div>
  </div>
  <table class="table is-fullwidth is-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Created</th>
        <th>Beats</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for tab in tab_sheets %}
      <tr>
        <td>{{ tab.title }}</td>
        <td>{{ tab.artist }}</td>
        <td>{{ tab.created_at|date:'Y-m-d H:i' }}</td>
        <td>{{ tab.beat_set.count }}</td>
        <td>
          <a href="{% url 'cms_tab_sheet_edit' tab.pk %}" class="button is-small is-link">
            <i data-lucide="edit"></i>&nbsp;Edit
          </a>
        </td>
      </tr>
      {% empty %}
      <tr><td colspan="5">No tab sheets found.</td></tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
{% block extra_js %}
<script src="https://unpkg.com/lucide@latest"></script>
<script>lucide.createIcons();</script>
{% endblock %} 