{% extends "uke_fingerpicking/base.html" %}

{% block content %}
<div class="container">
  <h1 class="title">Tab Sheets</h1>
  
  <div class="content">
    <ul>
      {% for tab_sheet in tab_sheets %}
        <li>
          <a href="#" class="is-size-5">
            {{ tab_sheet.title }}
            {% if tab_sheet.artist %}
              <span class="has-text-grey">by {{ tab_sheet.artist }}</span>
            {% endif %}
          </a>
        </li>
      {% empty %}
        <li class="has-text-grey">No tab sheets available yet.</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
