{% extends "trees_of_germany/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="hero is-primary mt-3">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1 has-text-centered">
                    {{ title }}
                </h1>
                <h2 class="subtitle has-text-centered mt-5">
                    Discover the beautiful flora of Germany
                </h2>
            </div>
        </div>
    </div>
    <div class="section mt-5">
        <div class="container">
            <div class="content has-text-centered">
                <p class="mb-5">Welcome to our tree learning platform. Start exploring the diverse flora of Germany.</p>
                <a href="{% url 'trees_of_germany:learn_trees' %}" class="button is-primary is-large">
                    <span class="icon">
                        <i class="fas fa-tree"></i>
                    </span>
                    <span>Start Learning Trees</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %} 