{% extends "trees_of_germany/base.html" %}

{% block content %}
<div class="columns is-centered">
    <div class="column is-half">
        <div class="box" x-data="{ 
            selected: null,
            correctSpeciesId: {{ correct_species.id }},
            handleClick(speciesId) {
                console.log('Button clicked:', speciesId);
                console.log('Correct ID:', this.correctSpeciesId);
                this.selected = speciesId;
                if (speciesId === this.correctSpeciesId) {
                    console.log('Correct answer!');
                    setTimeout(() => window.location.reload(), 1000);
                }
            }
        }">
            <div class="buttons is-centered mb-4">
                {% for species in species_options %}
                <button 
                    class="button is-large species-option"
                    :class="{ 
                        'is-light': selected === {{ species.id }} && selected !== correctSpeciesId,
                        'is-success': selected === {{ species.id }} && selected === correctSpeciesId 
                    }"
                    :disabled="selected === {{ species.id }} && selected !== correctSpeciesId"
                    @click="handleClick({{ species.id }})"
                >
                    <div class="has-text-centered">
                        <div class="is-size-4">{{ species.german_name }}</div>
                        <div class="is-size-6 has-text-grey">{{ species.latin_name }}</div>
                        <div class="is-size-6 has-text-grey">{{ species.english_name }}</div>
                    </div>
                </button>
                {% endfor %}
            </div>

            <div class="image-container" style="position: relative; width: 524px; margin: 0 auto;">
                <img src="{{ tree_image.get_usable_url }}" alt="Tree to identify" style="width: 100%; height: auto; display: block;">
                {% if tree_image.credit_user_name and tree_image.credit_url %}
                <div style="position: absolute; bottom: 0; right: 0; background: rgba(0,0,0,0.5); padding: 0.25rem 0.5rem; border-radius: 4px 0 0 0;">
                    <a href="{{ tree_image.credit_url }}" target="_blank" rel="noopener noreferrer" class="has-text-white is-size-7">
                        © {{ tree_image.credit_user_name }}
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %} 