{% extends "withvideos/base.html" %}
{% load lucide %}

{% block withvideos_content %}
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-two-thirds">
                <div class="box"
                     x-data="flashcards"
                     x-init="init({{ words_json }}, {{ snippet_data }})">
                    
                    <template x-if="currentWord">
                        <div class="has-text-centered">
                            <!-- Word Display -->
                            <h2 class="title is-2 mb-6" x-text="currentWord.original_word"></h2>
                            
                            <!-- Meanings (Hidden by default) -->
                            <div x-show="showMeanings" class="mb-6">
                                <div class="content">
                                    <div class="box">
                                        <div class="is-size-5">
                                            <template x-for="meaning in currentWord.meanings">
                                                <p class="mb-3" x-text="meaning"></p>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Buttons -->
                            <div class="buttons is-centered">
                                <template x-if="!showMeanings">
                                    <button @click="showMeanings = true" 
                                            class="button is-primary is-large">
                                        <span>Reveal</span>
                                    </button>
                                </template>
                                
                                <template x-if="showMeanings">
                                    <button @click="nextWord" 
                                            class="button is-success is-large">
                                        <span class="icon">
                                            {% lucide "arrow-right" size=24 %}
                                        </span>
                                        <span>Next Word</span>
                                    </button>
                                </template>
                            </div>
                        </div>
                    </template>
                    
                    <template x-if="!currentWord">
                        <div class="has-text-centered">
                            <h2 class="title is-4 mb-6">Practice Complete!</h2>
                            
                            <!-- Video Player -->
                            <div class="box">
                                <figure class="image is-16by9">
                                    <iframe 
                                        :src="'https://www.youtube.com/embed/' + snippetData.youtube_id + '?autoplay=1&start=' + snippetData.start_time + '&end=' + snippetData.end_time"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </figure>
                            </div>
                            
                            <a href="{% url 'withvideos:video_detail' snippet.video.youtube_id %}" 
                               class="button is-primary mt-6">
                                <span class="icon">
                                    {% lucide "arrow-left" size=24 %}
                                </span>
                                <span>Back to Video</span>
                            </a>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('flashcards', () => ({
                words: [],
                currentIndex: 0,
                showMeanings: false,
                snippetData: null,
                
                init(wordsData, snippetData) {
                    this.words = wordsData;
                    this.snippetData = snippetData;
                },
                
                get currentWord() {
                    return this.words[this.currentIndex];
                },
                
                nextWord() {
                    this.showMeanings = false;
                    this.currentIndex++;
                }
            }))
        })
    </script>
{% endblock %} 