{% extends "german_with_videos/base.html" %} {% load lucide %} 
{% block german_with_videos_content %}
<div class="container has-text-centered">
  <div class="columns is-centered">
    <div class="column is-half">
      <figure class="image is-16by9 mb-6">
        <img
          src="https://img.youtube.com/vi/{{ video.youtube_id }}/maxresdefault.jpg"
          alt="Thumbnail for {{ video.title|default:video.youtube_title }}"
        />
      </figure>

      {% if first_snippet_practice_url %}
        <a href="{{ first_snippet_practice_url }}" class="button is-primary is-large">
          <span class="icon"> {% lucide "play" size=24 %} </span>
          <span>Start Practice</span>
        </a>
      {% else %}
        <p class="has-text-danger">No snippets available for this video</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
