{% extends "german_with_videos/base.html" %} 
{% block subtitle %}Videos{% endblock %}
{% block german_with_videos_content %}

<h1 class="title is-1 mb-6">Choose a Video to Practice</h1>

<div class="columns is-multiline">
  {% for video in videos %}
  <div class="column is-one-quarter">
    <a
      href="{% url 'german_with_videos:video_detail' video.youtube_id %}"
      class="card is-flex is-flex-direction-column"
      style="height: 100%"
    >
      <div class="card-image">
        <figure class="image is-16by9">
          <img
            src="https://img.youtube.com/vi/{{ video.youtube_id }}/maxresdefault.jpg"
            alt="Thumbnail for {{ video.title|default:video.youtube_title }}"
            loading="lazy"
          />
        </figure>
      </div>
      <div class="card-content is-flex-grow-1">
        <p class="title is-6 has-text-centered">
          {{ video.title|default:video.youtube_title }}
        </p>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
